body{
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(220,219,208,1) 15%, rgba(209,219,219,1) 84%);
}

ul{
    list-style: none;
    padding: 0;
}



.app_container{
    height: 95vh;
    width: 80vw;
    position: relative;
    top: 2.5vh;
    background-color: white;
    margin: auto;
    display: flex;
}

.section_users{
    width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
   

}

.section_chat{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menu_bar{
    background-color: #EAEAEA;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.user_box{
    display: flex;
    align-items: center;
    column-gap: 10px;
    overflow-x: hidden;
}

.img_user{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 1px 8px black;
    margin: 10px 5px;
}

.circle_img{
    border-radius: 50%;
    
}

.boxinfo_user{
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

.access_info{
    color: gray;
    font-size: .9rem;
    display: inline-block;
}

.tool_box{
    display: flex;
    align-items: center;
}

.icon_menu{
    width: 35px;
    aspect-ratio: 1/1;
    margin: 0 4px;
}

.notif_box{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #8EDAFC;
    padding-left: 10px;
}

.notif_icon{
    height: 50px;
    aspect-ratio: 1 /1;
}

.notif_active{
    color: gray;
    text-decoration: underline;
}

.search_box{
    padding: 4px;
    display: flex;
    height: 50px;
}
.search_box > button{
    background-color: white;
    border: 1px solid gray;
    width: 70px;
}

.search_box > input{
    flex-grow: 1;
    padding-left: 10px;
}

.icon_button_search{
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    padding: 6px;
}

.users_box{
    flex-grow: 1;
    overflow-y: scroll;
}

.box_chat{
    flex-grow: 1;
    background-image: url(../imgs/mine.jpg);
    overflow-y: scroll;
    padding: 2rem 3rem  0 3rem;
}

.input_box{
    height: 80px;
    background-color: #F3EEEA;
    display: flex;
    padding: 15px 0;
}

.input_box > input{
    flex-grow: 1;
}

.emoticons_box{
    width: 100px;
    text-align: center;
    padding: 10px;
}

.audio_box{
    width: 100px;
    text-align: center;
    padding: 10px;
}

.last_message{
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

.img{
    width: 60px;
    aspect-ratio: 1/1;
}

.massage_box{
    width: 250px;
    min-height: 60px;
    border-radius: 10px;
    display: flex;
}

.message_text{
    flex-grow: 1;
    padding: 10px ;
}

.message_time{
    align-self: flex-end;
    color: rgb(170, 170, 170);
    padding-right: 5px;
}

.out{
    background-color: #D5F9BA;
}

.in{
    background-color: white;
}

.onclcik{
    position: relative;
    transform: scale(1.2);
}

.user_istance{
    border-radius: 30px;
}

.b_border{
    border: 2px solid black;
}
/*********************** EFFECTS ***********************/

.user_istance:hover{
    background-color: #8ed9fca5;
}
.user_istance:hover img{
    border: 2px solid blue;
}

.user_istance:active{
    background: rgb(80, 200, 252);
}

.massage_box:hover{
    box-shadow: 2px 5px 10px black;
}

